# binaries
**/bin/
**/bin-int/

# VS
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Resources
**.spv
**/Cache/

# StarFire

# Aurora
#Fallback shaders - shipped as compiled binary FallbackShaders.h
**/Resources/Shaders/SwapchainFallback.vert
**/Resources/Shaders/SwapchainFallback.frag



