[submodule "StarFire/vendor/glm"]
	path = StarFire/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "StarFire/vendor/GLFW"]
	path = StarFire/vendor/GLFW
	url = https://github.com/PowerOfNames/glfw.git
	branch = StarFire
[submodule "StarFire/vendor/spdlog"]
	path = StarFire/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Aurora/Vendor/SPIRV-Reflect"]
	path = Aurora/Vendor/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
